<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head('Register | Recipe Book')}" />
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="container">
    <img class="logo" th:src="@{/images/recipe-book-logo.webp}" alt="Recipe Book Logo">

    <h2 class="main-heading">Create Your Account</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <input class="main-input" type="text" th:field="*{firstName}" placeholder="First Name" required>

        <input class="main-input" type="text" th:field="*{lastName}" placeholder="Last Name" required>

        <input class="main-input" type="text" th:field="*{username}" placeholder="Username" required>

        <input class="main-input" type="email" th:field="*{email}" placeholder="Email" required>

        <input class="main-input" type="password" th:field="*{password}" placeholder="Password" required>

        <input class="main-input" type="password" name="confirmPassword" placeholder="Confirm Password" required>

        <p th:if="${#fields.hasErrors('username')}" class="error-message" th:errors="*{username}"></p>
        <p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
        <p th:if="${error}" class="error-message" th:text="${error}"></p>

        <button class="main-btn" type="submit">Register</button>
    </form>

    <p>Already have an account? <a class="link" th:href="@{/login}">Login</a></p>
</div>
</body>
</html>
